@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --color-grey: #eee;
  --color-dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Start Here */
.product-container {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.product-img {
  width: 100%;
  padding: 0 2rem;
}

.product-desc {
  width: 100%;
}

.img-large {
  width: 40rem;
  margin-bottom: 1rem;
}

.img-small {
  width: 40rem;
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 8px;
  overflow-x: auto;
}

.img-small img {
  width: 8rem;
  height: 8rem;
  border: 1px solid var(--color-dark-grey);
  border-radius: 3px;
  margin-right: 1rem;
  cursor: pointer;
}

.img-small::-webkit-scrollbar {
  height: 5px;
  width: 2px;
  border: 1px solid #d5d5d5;
  background: #d5d5d5;
}

.img-small::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.img-small::-webkit-scrollbar-thumb {
  background-color: var(--color-sec);
  outline: 1px solid #eee;
}

@media screen and (max-width: 600px) {
  .product-container {
    flex-direction: column-reverse;
  }

  .img-large {
    width: 30rem;
  }

  .img-small {
    width: 30rem;
  }
}
