@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Start Here */
section.main {
  width: 100%;
  height: 100vh;
  background-color: var(--grey);
}

.fab-btn {
  position: absolute;
  right: 3rem;
  bottom: 1.5rem;
  width: 5.5rem;
  height: 5.5rem;
  background-color: #ff4081;
  color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.fab-btn i {
  transition: all 0.3s;
}

.fab-btns .fab-btn {
  width: 4rem;
  height: 4rem;
  right: 3.8rem;
  bottom: 2.3rem;
  font-size: 1.5rem;
}

.fab-btns.show .fab-btn:nth-child(1) {
  bottom: 8rem;
  background: #3b5999;
}
/* Add 5rem to the bottom value */
.fab-btns.show .fab-btn:nth-child(2) {
  bottom: 13rem;
  background: #55acee;
}
.fab-btns.show .fab-btn:nth-child(3) {
  bottom: 18rem;
  background: #25d366;
}
.fab-btns.show .fab-btn:nth-child(4) {
  bottom: 23rem;
  background: var(--color-primary);
}

.fab-btns.show + .fab-btn i {
  transform: rotate(135deg);
}
