@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--grey);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Start here */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 40rem;
  background-color: var(--light-blue);
  padding: 2rem;
  color: var(--white);
}

h1 {
  font-size: 3rem;
  text-align: center;
}

form {
  padding: 1rem 0;
  font-size: 1.6rem;
}

form > * {
  padding-bottom: 1rem;
}

form input,
.btn {
  padding: 1rem;
  width: 100%;
  font-size: 1.6rem;
}

.btn {
  background-color: var(--color-sec);
  color: var(--white);
  cursor: pointer;
  outline: none;
  border: none;
}

.result {
  padding: 1rem;
}

.reset {
  padding: 1rem;
  margin: 5px 0;
  display: none;
  cursor: pointer;
}
