@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
/* HEADER */
/* HEADER */
header {
  width: 100%;
  background-color: var(--dark-grey);
}

nav {
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  font-size: 4.5rem;
  color: var(--color-sec);
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-list li {
  list-style: none;
  margin: 0 1.5rem;
}

.nav-list li a {
  color: var(--white);
  font-size: 1.6rem;
  text-decoration: none;
}

/* Section */
section {
  padding: 5rem 0;
}

.box {
  border: 1px solid var(--grey);
  padding: 2rem;
}

h2 {
  color: var(--color-primary);
  font-size: 3rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex > * {
  margin: 3px;
}

/* RESPONSIVE MENU */
/* RESPONSIVE MENU */
/* RESPONSIVE MENU */
@media screen and (max-width: 600px) {
  .flex {
    flex-direction: column;
  }

  nav i {
    color: var(--white);
    font-size: 2.4rem;
    cursor: pointer;
  }

  .close {
    position: absolute;
    right: 3rem;
    transform: translateY(-20rem);
    transition: all 0.5s;
  }

  .nav-list {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    margin-top: 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid skyblue;
    border-radius: 3px;
    z-index: 999;
    transform: translateY(-200%);
    transition: all 0.5s;
  }

  .nav-list li {
    width: 80%;
    padding: 5px 0;
    font-size: 1.6rem;
    border-bottom: 1px solid var(--white);
    text-align: center;
  }

  .nav-list li:first-child {
    border-top: 1px solid var(--white);
  }

  .nav-list li a:hover {
    color: var(--color-sec);
  }
}
