@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --color-grey: #eee;
  --color-dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 10%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Start Here */
body {
  background: var(--color-grey);
}

.box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.payment {
  width: 35rem;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background: var(--white);
}

.header h1 {
  font-size: 3rem;
  color: orange;
}
.header p {
  font-size: 1.6rem;
  font-weight: 700;
}

.content {
  padding: 1.5rem 3rem;
  background: rgb(255, 244, 214);
}
.amount {
  margin-bottom: 2rem;
}

.amount p {
  font-size: 1.2rem;
}

.amount p span {
  font-size: 1.6rem;
  font-weight: 600;
}

.card-details {
  background: var(--white);
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid #ccc;
}

.card-details > * {
  padding: 1rem;
  width: inherit;
}

.number {
  grid-column: 1/3;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.valid {
  width: 100%;
  border-right: 1px solid #ccc;
}

.cvv {
  width: 100%;
  position: relative;
}

label {
  display: block;
  text-transform: uppercase;
  padding-bottom: 3px;
}

.number img {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

input {
  border: none;
  outline: none;
  font-size: 1.3rem;
}

::placeholder {
  font-size: 1.3rem;
  color: #ccc;
}

.valid input,
.cvv input {
  width: 50%;
}

.cvv span {
  position: absolute;
  right: 5px;
  top: 9px;
  font-size: 9px;
  cursor: pointer;
}
.remember {
  display: flex;
  padding: 1.5rem 0;
  align-items: center;
}
.remember input {
  margin-right: 5px;
}

.button {
  width: 100%;
  position: relative;
}

.btn {
  width: 100%;
  padding: 1.3rem 0;
  background: orange;
  border: none;
  outline: none;
  border-radius: 3px;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}
.button i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
  font-size: 1.5rem;
}
.secure {
  margin: 2rem 0;
  background: black;
  padding: 4px 1rem;
  color: orange;
  border-radius: 3px;
  text-transform: uppercase;
}
