@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--grey);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Start */
header h1 {
  font-size: 2.5rem;
  color: var(--color-primary);
  line-height: 2;
}

header form {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

form > * {
  margin-bottom: 5px;
  outline: none;
  font-size: 1.6rem;
  padding: 7px;
  border: 1px solid #777;
  border-radius: 3px;
}

::placeholder {
  font-size: 1.4rem;
}

form button {
  background-color: var(--color-sec);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}

form button:hover {
  background-color: var(--color-primary);
}

h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

.note {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 3px;
  margin: 1rem 0;
}

.note-counter {
  font-size: 1.4rem;
  background-color: var(--dark-grey);
  padding: 3px;
  display: inline-block;
  color: var(--white);
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 5px;
}

.note-title {
  font-size: 1.6rem;
  color: var(--color-primary);
}

.note-btn {
  margin: 5px 0;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: orangered;
  color: var(--white);
  cursor: pointer;
}

.edit-btn {
  background-color: var(--color-primary);
}
