* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(90, 90, 90);
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 100px 10px 0 10px;
}

#search {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    outline: none;
}

#list {
    list-style: none;
}

#list li {
    border: 1px solid #ddd;
    padding: 12px;
    background-color: #f6f6f6;
    display: block;
}

#list li:hover {
    background-color: #eee;
}