@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Start Here */
section.main {
  width: 100%;
  height: 100vh;
  background-color: var(--blue);
  text-align: center;
}

header {
  color: var(--white);
}

header h1 {
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 2rem;
}

header p {
  font-size: 2.5rem;
  font-weight: 400;
}

.key-pressed {
  color: var(--grey);
  font-size: 12rem;
  margin: 3rem 0;
}

.keys {
  width: 100%;
  height: 35rem;
  max-width: 88rem;
  position: relative;
  margin: 4rem auto;
}

.key {
  position: relative;
  border: 4px solid var(--black);
  border-radius: 5px;
  transition: all 0.07s ease;
  z-index: 2;
}

.key:not(.sharp) {
  float: left;
  width: 10%;
  height: 100%;
  background-color: var(--white);
}

.key.sharp {
  position: absolute;
  top: 0;
  width: 6%;
  height: 60%;
  background-color: var(--black);
  color: var(--grey);
  z-index: 3;
}

.key[data-key="87"] {
  left: 7%;
}
.key[data-key="69"] {
  left: 17%;
}
.key[data-key="84"] {
  left: 37%;
}
.key[data-key="89"] {
  left: 47%;
}
.key[data-key="85"] {
  left: 57%;
}
.key[data-key="79"] {
  left: 77%;
}
.key[data-key="80"] {
  left: 87%;
}

.playing {
  transform: scale(0.9);
  border-color: var(--color-sec);
}

.hints {
  display: block;
  width: 100%;
  opacity: 0;
  position: absolute;
  bottom: 7px;
  transition: all 0.3s ease;
  font-size: 2rem;
}

.keys:hover .hints {
  opacity: 1;
}
